%head
  %title= "#{current_page.data.title} | Steve Brewer"
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{href: "https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700|Oswald:400,700", rel: "stylesheet", type: 'text/css'}
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %link{rel: "stylesheet", type: "text/css", href: "https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"}
  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "application"
  %link{:href => "/img/favicon.svg", :rel => "icon", :type => "image/png"}
  %link{:href => "/img/favicon.png", :rel => "icon", :type => "image/png"}
  = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
